<div class="table-responsive">
    <table class="table table-bordered">
      <thead>
        <tr>
          <th>#</th>  
          <th>Firstname</th>
          <th>Middlename</th>
          <th>Lastname</th>
          <th>Email</th>
          <th>Phone Number</th>
          <th>City</th>
          <th>Address</th>
          <th>ZIP</th>
          <th>CreatedAt</th>
          <th>UpdatedAt</th>
        </tr>
      </thead>
      <tbody>
                {{#each usersList}}
                <tr>
                  <td>{{this.index}}</td>
                  <td>{{this.firstName}}</td>
                  <td>{{this.middleName}}</td>
                  <td>{{this.lastName}}</td>
                  <td>{{this.email}}</td>
                  <td>{{this.phoneNumber}}</td>
                  <td>{{this.city}}</td>
                  <td>{{this.address}}</td>
                  <td>{{this.zip}}</td>
                  <td>{{this.createdAt}}</td>
                  <td>{{this.updatedAt}}</td>
                </tr>
                {{/each}}
      </tbody>
    </table>
  </div>
</div>